.se-tooltip-inner {
    display: none !important;
}

@keyframes showUpContainer {
    from {
        opacity: 0;
        transform: translateY(2px) scale(.98);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.se-arrow {
    border-bottom-color : white;
}

.se-toolbar {
    border-radius: 5px;
    box-shadow: none !important;
    animation: showUpContainer .3s forwards alternate;
    background-color: #ffffff !important;

    li {
        button {
            transition: .3s !important;
        }
    }
}